{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Ensayo
{% endblock %}

{% block content %}

<p align="justify">
    Antes de comenzar la segunda parte del estudio, haremos una sección de prueba. Nos interesa que se familiarice con
    las instrucciones y el tipo de cálculos que deberá hacer. Le recomendamos tener una hoja de papel, un lápiz y en lo
    posible una calculadora para ir anotando los puntos ganados o perdidos. Recuerde que, mientras más puntos gane, más
    dinero obtiene.
</p>


    {% next_button %}

{% endblock %}
