{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Fin del Ensayo
{% endblock %}

{% block content %}

<p align="justify">
    En este momento este ensayo ha llegado a su fin. Desde la próxima ronda comenzaremos el juego real. Como se trataba
    de un ensayo, todo lo que haya ganado o perdido, no cuenta. Sin embargo, todas las decisiones que tome de aquí en
    adelante contarán. Es decir, las decisiones que tome desde la siguiente pantalla impactará en su pago final.
</p>


    {% next_button %}

{% endblock %}
