{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
General Information
{% endblock %}

{% block content %}
<p>
    The identities of all participants and the actions that you take during this experiment will remain confidential.  At no point in time will we identify the role or actions of any individual to other participants.
</p>
<p>
    <b>If you have any questions during the experiment, please raise your hand and wait for an experimenter to come to you.  Please do not talk, exclaim, or try to communicate with other participants during the experiment.  Participants intentionally violating these rules or otherwise behaving in a disruptive fashion may be asked to leave the experiment and may not be paid.</b>
</p>
    {% next_button %}

{% endblock %}
